.checkingBox {
  background-color: #29487D;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  height: 65vh;
  width: 40vw;
  border-radius: 25px;
  padding-top: 3%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.checkingBox::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.checkingBox {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.checkingHeading {
  font-family: Quicksand;
  font-size: 2vw;
  font-weight: 700;
  color: white
}

.question {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: white;
  height: 5%;
  width: 70%;
  margin-top: 5%;
  border-radius: 15px;
  color: #29487D;
  font-size: 1vw;
  font-family: Quicksand;
  font-weight: 900;
}

.checkingButton {
  border-style: solid;
  border-color: transparent;
  border-radius: 25px;
  background-color: white;
  color: #29487D;
  font-size: 1vw;
  font-weight: 900;
  font-family: Quicksand;
  padding: 2% 8% 2% 8%;
  margin-top: 10%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease 0s;
  text-decoration: none;
  margin-bottom: 5%;
}

.checkingButton:hover {
  background-color: #29487D;
  color: white;
  border-color: white;
}

.question-text {
  margin-left: 2%;
}

.question-explained {
  background-color: white;
  color: #29487D;
  font-size: 1vw;
  font-weight: 500;
  font-family: Quicksand;
  width: 70%;
  margin-top: 5px;
  border-style: solid;
  border-color: transparent;
  border-radius: 25px;
  padding: 2%;
}

.hidden {
  display: none;
}

.opacity_0 {
  opacity: 0;
  transition: all 0.5s;
}

.opacity_full {
  opacity: 1;
  transition: all 1s;
}

.triangle {
  margin-left: auto;
  margin-right: 2%;
}

.triangle:hover {
  cursor: pointer;
}