* {
  box-sizing: border-box;
}

body,
html,
body > div {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  font-size: 12px;
  height: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: rgb(51, 51, 51);
  display: flex;
  flex-flow: column;
}

.topBar {
  height: 40px;
  background-color: #29487D;
  display: flex;
  justify-content: flex-start;
  align-items: center; 
}

.mainContent {
  height: calc(100% - 80px);
}


.canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
  padding: 10px;
}

.button {
    border-style: solid;
    border-color: transparent;
    border-radius: 15px;
    margin: 5px;
}

.barButton {
    border-style: solid;
    border-color: transparent;
    border-radius: 15px;
    margin: 5px;
    color: white;
    text-decoration: none;
}

.barButton:hover {
    text-decoration: underline;
    color:white;
    cursor: pointer;
}

.content {
  float: left;
  position: relative;
}

[id*="-wrapper"] {
    height: 100%;
}

// Overwrite changes from bootstrap.min.css
.djs-palette .separator {
  background-color: transparent;
  opacity: 1; 
}

.od-icon-object:before { content: '\e800'; } /* '' */

.pjs-text-box:before {
  content: 'Abc';
  font-size: medium;
}

#note-area-wrapper {
    position: absolute;
    visibility: inherit;
    top: 40%;
    left: 40%;
    z-index: 1000;
    height: 450px;
    width: 800px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
    border-style: solid;
    border-width: 3px;
    border-color: #29487D;
    border-radius: 15px;
    padding: 10px;
    background-color:white;
}

#note-area-drag {
    height: 25px;
    width:25px;
}

#note-area-drag:hover {
    cursor: grabbing;
}

#note-area-close {
    cursor: pointer;
    float:right
}

.note-area {
    height: 400px;
    width: 770px;
     border-style: solid;
    border-width: 1px;
    border-color: #29487D;
    border-radius: 15px;
}

.hidden {
    display:none;
}

#errorBar {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 40px;
  background-color: #29487D;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; 
  z-index: 1000;
  padding-top: 10px;
  flex-direction: column;
}

#errorBar:hover {
    cursor: grab;
}

#errorBar:active {
    cursor: grabbing;
}

.errorEntry {
    margin: 10px;
    color: white;
}

.focus>.focusButton {
  display: none;
}

.focusButton {
  background-color: #29487D;
  color:white;
  border-radius: 15px;
  display: none;
}

.focusHeader {
  background-color: #29487D;
  color:white;
  border-radius: 15px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top:1px;
  padding-bottom: 1px;
  cursor: pointer;
  display: inline;
  font-size: 18px
}

.focus>.focusHeader {
  cursor: default;
}

.gs-dropdown-menu {
    background-color: #29487D;
    border-radius: 15px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.gs-dropdown-entry  {
    color: white;
    font-size: 14px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.gs-dropdown-entry:hover  {
    color: #29487D;
    background-color: white;
}

.gs-dropdown-entry-selected::after {
  content: "✔️";
}

.dropdown-multicontainer {
  display: flex;
}

.dropdown-multicontainer > .gs-dropdown-menu {
  display: block;
  position: relative;
  width: 50%;
}

.djs-overlay-classSelection, .djs-overlay-classSelection > div {
    border-width: 1px;
    border-radius: 15px;
}

.djs-overlay-classSelection > div > .gs-dropdown-menu:first-child {
    border-radius: 15px 0px 0px 15px;
}

.djs-overlay-classSelection > div > .gs-dropdown-menu:last-child {
    border-radius: 0px 15px 15px 0px;
}

.djs-overlay-classSelection > div > .gs-dropdown-menu:first-child > .gs-dropdown-entry:first-child  {
    border-top-left-radius: 15px;
}

.djs-overlay-classSelection > div > .gs-dropdown-menu:first-child > .gs-dropdown-entry:last-child  {
    border-bottom-left-radius: 15px;
}

.djs-overlay-classSelection > div > .gs-dropdown-menu:last-child > .gs-dropdown-entry:first-child  {
    border-top-right-radius: 15px;
}

.djs-overlay-classSelection > div > .gs-dropdown-menu:last-child > .gs-dropdown-entry:last-child  {
    border-bottom-right-radius: 15px;
}

